mss==10.2.0
pynput==1.8.2
pillow==12.2.0
comtypes==1.4.16; sys_platform == "win32"
websocket-client==1.8.0
pywinpty==3.0.5; sys_platform == "win32"
winrt-runtime==3.2.1; sys_platform == "win32"
winrt-Windows.Media.Ocr==3.2.1; sys_platform == "win32"
winrt-Windows.Foundation==3.2.1; sys_platform == "win32"
winrt-Windows.Storage==3.2.1; sys_platform == "win32"
winrt-Windows.Storage.Streams==3.2.1; sys_platform == "win32"
winrt-Windows.Graphics.Imaging==3.2.1; sys_platform == "win32"
